body {
  font-family: Helvetica;
  text-align: center;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 70px;
}
.NY {
  background-image: cover;
  text-align: center;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
h4 {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.NY {
  font-size: 23px;
  color: white;
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}
.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
.link {
  font-size: 18px;
  color: white;
}
